<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pacientes">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pacientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="turnos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Turnos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="centros">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Centros de atención
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tipos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tipos de análisis
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="localidades">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Localidades
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plantillas">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Plantillas de análisis
            </NavLink>
        </div>
    </nav>
</div>

